.bmidasi1 {
  color: #0070fb;
  font-size: 30;
  border-bottom: solid 1.5px #bbb;
}
.btable{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 40vh;
}

.btable tr{
  border-bottom: solid 2px #eee;
  border-top: solid 2px #eee;
  transition: 0.3s;
}

.btable tr:hover{
  background-color: #eee;
}

.btable tr:active{
  background-color: #ddd;
}

.btable th,.btable td{
  text-align: center;
  width: 25%;
  padding: 3px 0;
  font-size: 1rem;
}
    @media screen and (min-width: 700px){
        .btxtmb{
            margin: 0 100 0 100;
            font-size: 20px;
        }
    }
    @media screen and (max-width: 700px){
        .btxtmb {
            margin: 0 10 0 10;
            font-size: 20px;
        }
}
@media screen and (min-width: 700px){
    .bltitle {
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
    color: #09c755;
        }
    }
    @media screen and (max-width: 700px){
    .bltitle {
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    color: #09c755;
        }
    }
    @media screen and (min-width: 700px){
    .blsubtt {
    font-size: 35px;
    margin-top: 50px;
    text-align: center;
    color: #0070fb;
        }
    }
    @media screen and (max-width: 700px){
    .blsubtt {
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
    color: #0070fb;
        }
    }
